html,
body,
menu,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#root {
  display: flex;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
}

button {
  font-family: monospace;
  background-color: transparent;
  border: 0;
  outline: 0;
}

input {
  padding: 0.5rem;
  font-family: monospace;
  border: 1px solid;
  border-radius: 0;
  outline: 0;
  width: 100%;
}
